.App {
  text-align: center;
}

.french-toast-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  width: 80%;
  margin: auto;
}

.french-toast {
  padding: 10px;
  border: 1px solid brown;
  width: 15vh;
  height: 15vh;
  background-color: burlywood;
}

.add {
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 15px;
}

.flip {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 10px;
}